<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
      <main>
         <% if (errorMessage) { %>
            <div class="form-group user-message user-message--error"><%= errorMessage %></div>
         <% } %> 
         <div class="container mt-3">
            <div class="row">
               <div class="col-md-6">
                  <div class="jumbotron-fluid text-center">
                     <h3 class="display-4">Learn and Create Stunning Websites</h3>
                     <img src="./img/pb.png" alt="">
                     <p class="lead">Code like a pro, code like purplebug!</p>
                     <hr class="my-4">
                     <p>Master your web development skills in no time.</p>
                     <a class="btn btn-prime-color btn-lg mb-5" href="/products" role="button" id="btnViewCourse">View Courses</a>
                   </div>
               </div>

               <div class="col-md-6 pt-5 mt-5 pl-5">

                  <form action="/login" method="POST">
                     <div class="form-group">
                       <label for="email">Email Address</label>
                       <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email Address">
                     </div>
                     <div class="form-group">
                       <label for="password">Password</label>
                       <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
                     </div>
                     <input type="hidden" name ="_csrf" value = "<%= csrfToken%>">
                     <button type="submit" class="btn btn-block btn-prime-color py-2">Log In</button>
                     <div class="text-center py-2">
                        <a href="/register" id="create-link" class="link-prime-color">Create New Account</a>
                     </div>
                   </form>
               </div>
            </div>
         </div>
      </main>

<%- include('../includes/end.ejs') %>