<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <div class="container my-5">
        <h2 class="text-center my-5">Register New User</h2>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form id="registerUser" class="login-form" action="/register" method="POST" novalidate">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control mb-3" placeholder="Input your firstname" id="firstName" name="firstName"  required>
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control mb-3" placeholder="Input your lastname" id="lastName" name="lastName" required>
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control mb-3" placeholder="Input your email add" id="userEmail" name="email" required>

                    <div class="form-row">
                        
                        <div class="form-group col-md-6">
                            <label for="Password">Password</label>
                            <input type="password" class="form-control mb-3" placeholder="Input Password" id="password1" name="password"  required>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control mb-3" placeholder="Verify Password" id="password2" name = "confirmPassword" required>
                        </div>
                    </div>
                    <input type="hidden" name ="_csrf" value = "<%= csrfToken%>">
                    <button type="submit" class="btn btn-block btn-prime-color py-2">Register</button>
                </form>
            </div>
        </div>
    </div>
<%- include('../includes/end.ejs') %>