<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
            <div class="form-group">
                <label for="title">Course Name</label>
                <input placeholder = "Enter Course Name" type="text" class="form-control" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>">
            </div>
            <div class="form-group">
                <label for="imageUrl">Image URL</label>
                <input placeholder = "Enter Image URL" type="text" class="form-control" name="imageUrl" id="imageUrl" value="<% if (editing) { %><%= product.imageUrl %><% } %>">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input placeholder = "Enter Price" type="number" class="form-control" name="price" id="price" step="0.01" value="<% if (editing) { %><%= product.price %><% } %>">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea placeholder = "Enter Description" name="description" class="form-control" id="description" rows="5"><% if (editing) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>
            <input type="hidden" name ="_csrf" value = "<%= csrfToken%>">
            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form>

    </main>
<%- include('../includes/end.ejs') %>