
    <footer class="footer bg-primary fixed-bottom">
      <p class="p-3 mb-0 text-center text-white">
         Purplebug | Purple Bug Course Booking App &copy; 2020
      </p>
   </footer>



<script src="/js/main.js"></script>
<script src="https://kit.fontawesome.com/a5b9597751.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>

</html>