<!-- <div class="backdrop"></div> -->
<header class="main-headerx">
    <!-- <button id="side-menu-toggle">Menu</button> -->

    <nav class="navbar navbar-expand-lg bg-purple">

        <a class="navbar-brand text-white" href="/login">
            <img src="/img/pb.png" width="30" height="30" class="d-inline-block align-top " alt="" loading="lazy">Purplebug
        </a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
			<!-- Used font-awesome logo -->
			<span class="custom-toggler-icon">
				<i class="fas fa-bars color-change"></i>
			</span>
        </button>
        
        <div class="collapse navbar-collapse mr-5 " id="navbarNav">
          <ul class="navbar-nav ml-auto">

            <!-- <li class="nav-item">
                <a class="nav-link text-white <%= path === '/products' ? 'active' : '' %>" href="/products">Courses</a>
            </li> -->

            <% if (isAuthenticated) { %>
                <li class="nav-item">
                    <a class="nav-link text-white <%= path === '/' ? 'active' : '' %>" href="/">Home</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link text-white <%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white <%= path === '/orders' ? 'active' : '' %>" href="/orders">Enrolled Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white <%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white <%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Course</a>
                </li>
            <% } %>

          </ul>
          
          <ul class="navbar-nav">
            <% if (!isAuthenticated) { %>
                <li class="nav-item">
                    <a class="nav-link text-white <%= path === '/login' ? 'active' : '' %>" href="/login">LogIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white <%= path === '/register' ? 'active' : '' %>" href="/register">Register</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" action="/logout" method="post">
                        <input type="hidden" name ="_csrf" value = "<%= csrfToken%>">
                        <button class="btn text-white" type="submit my-2 my-sm-0">Logout</button>
                    </form>
                </li>
                <% } %>
          </ul>

        </div>
    </nav>


</header>

<!-- <nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
        </li>
        <% if (isAuthenticated) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                </a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>
        <% } %>
        <% if (!isAuthenticated) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
        <% } else { %>
            <li class="mobile-nav__item">
                <form action="/logout" method="post">
                    <button class="btn" type="submit">Logout</button>
                </form>
            </li>
        <% } %>
    </ul>
</nav> -->