<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="jumbotron">
        <h1 class="display-4">Page Not Found</h1>
    </div>

<%- include('includes/end.ejs') %>