<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="jumbotron">
        <h1 class="display-4">Some error occurred!</h1>
        <p>We're working on fixing this, sorry for the inconvenience!</p>
    </div>
<%- include('includes/end.ejs') %>