.bg-purple {
  background-color: #8080c0;
  color: white;
}

.text-white {
  color: white;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #8080c0;
  color: white;
  background: #8080c0;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #5050a0;
  color: white;
}

.btn-danger {
  color: #ff3e3e;
  border-color: #ff3e3e;
}

.btn-danger:hover,
.btn-danger:active {
  background: #ff3e3e;
  color: white;
}

.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid #8080c0;
  padding: 0.5rem;
  border-radius: 3px;
  background-color: #8080c0;
  color: white;
  text-align: center;
}

.user-message--error {
  border-color: #ff3e3e;
  background: rgb(255, 176, 176);
  color: red;
}

@media (min-width: 768px) {
  .user-message {
    width: 30rem;
  }
}
