<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/p1.jpg" class="d-block w-100" height="200" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>Build Responsive Real World Websites with HTML5, CSS3 and Bootstrap</h1>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/img/p2.jpg" class="d-block w-100" height="200" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>Master JavaScript with the most complete course! Projects, challenges, quizzes, JavaScript ES6+, OOP, AJAX, Webpack</h1>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/img/p3.jpg" class="d-block w-100" height="200" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>Master MongoDB Development for Web & Mobile Apps. CRUD Operations, Indexes, Aggregation Framework - All about MongoDB!</h1>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">₱<%= product.price %></h2>
                            <p class="product__description"><%= product.description %></p>
                        </div>
                        <div class="card__actions">
                                <a href="/products/<%= product._id %>" class="btn">Details</a>
                                <% if (isAuthenticated) { %>
                                  <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                <% } %>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
          <div class="jumbotron">
            <h1 class="display-4">No Courses Found</h1>
        </div>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>